#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;

    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
    padding: 4rem;

    & .main-container {
        max-width: 33rem;
        margin-left: auto;
    }

    & .back {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-bottom: 1.5rem;
    }

    & h1 {
        font: 600 1.5rem/1.25 var(--font-family);
        margin-bottom: .5rem;
    }
}

aside {
    background-color: var(--surface-secondary);
    padding: 4rem;

    & .aside-container {
        max-width: 31rem;

        & > img {
            margin-top: 2rem;
        }
    }

    & h2 {
        font: 600 2.5rem/1.25 var(--font-family);
        margin-bottom: .5rem;
        & span {
            color: var(--text-highlight)
        }
    }
}

@media (max-width: 24em) {
    #app {
        display: flex;
        flex-direction: column-reverse; 
        height: auto; 
        overflow: visible;
    }
    .aside-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    aside {
        position: relative;
        top: 0; 
        left: 0; 
        margin-bottom: -120px;
        width: 100%; 
        z-index: 1; 
        background-color: var(--surface-secondary);
        padding: 1rem; 
    }

    main {
        padding: 1rem;
        margin-top: 150px; 
        margin-left: 24px;
        margin-right: 24px;
        height: auto; 
        overflow: visible; 
    }
}
